In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('customer_churn_business_dataset.csv')

In [4]:
df_copy = df.copy()

In [5]:
df_copy.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             10000 non-null  object
 1   gender                  10000 non-null  object
 2   age                     10000 non-null  int64
 3   country                 10000 non-null  object
 4   city                    10000 non-null  object
 5   customer_segment        10000 non-null  object
 6   tenure_months           10000 non-null  int64
 7   signup_channel          10000 non-null  object
 8   contract_type           10000 non-null  object
 9   monthly_logins          10000 non-null  int64
 10  weekly_active_days      10000 non-null  int64
 11  avg_session_time        10000 non-null  float64
 12  features_used           10000 non-null  int64
 13  usage_growth_rate       10000 non-null  float64
 14  last_login_days_ago     10000 non-null  int64
 15  monthly_fee             10000 non-null  int64
 16  total_revenue           10000 non-null  int64
 17  payment_method          10000 non-null  object
 18  payment_failures        10000 non-null  int64
 19  discount_applied        10000 non-null  object
 20  price_increase_last_3m  10000 non-null  object
 21  support_tickets         10000 non-null  int64
 22  avg_resolution_time     10000 non-null  float64
 23  complaint_type          7955 non-null   object
 24  csat_score              10000 non-null  float64
 25  escalations             10000 non-null  int64
 26  email_open_rate         10000 non-null  float64
 27  marketing_click_rate    10000 non-null  float64
 28  nps_score               10000 non-null  int64
 29  survey_response         10000 non-null  object
 30  referral_count          10000 non-null  int64
 31  churn                   10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

In [7]:
df.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [8]:
df['customer_id'].isnull().sum()

np.int64(0)

In [9]:
df['gender'].isnull().sum()

np.int64(0)

In [10]:
df.isnull().sum()

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [11]:
df_copy['complaint_type']

0         Service
1         Billing
2         Service
3       Technical
4       Technical
          ...
9995      Service
9996          NaN
9997    Technical
9998          NaN
9999    Technical
Name: complaint_type, Length: 10000, dtype: object

In [12]:
df_copy['complaint_type'].mode()

0    Technical
Name: complaint_type, dtype: object

In [13]:
df_copy['complaint_type'].fillna('Technical',inplace=True)

In [14]:
df_copy['complaint_type'].isnull().sum()

np.int64(0)

In [15]:
df_copy.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [16]:
df.isnull().sum()

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [17]:
df_new=df.copy()

In [18]:
df_new['complaint_type']=df_new['complaint_type'].fillna('No Complaint')

In [19]:
df_new.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [20]:
df_copy['complaint_type']=df_new['complaint_type']

In [21]:
df_copy['complaint_type']

0            Service
1            Billing
2            Service
3          Technical
4          Technical
            ...
9995         Service
9996    No Complaint
9997       Technical
9998    No Complaint
9999       Technical
Name: complaint_type, Length: 10000, dtype: object

In [22]:
df['complaint_type']

0         Service
1         Billing
2         Service
3       Technical
4       Technical
          ...
9995      Service
9996          NaN
9997    Technical
9998          NaN
9999    Technical
Name: complaint_type, Length: 10000, dtype: object

In [23]:
df_copy.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [24]:
df.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [25]:
df_copy['customer_segment'].unique()

array(['SME', 'Individual', 'Enterprise'], dtype=object)

In [26]:
df_copy['city'].unique()

array(['London', 'Sydney', 'New York', 'Dhaka', 'Delhi', 'Toronto',
       'Berlin'], dtype=object)

In [27]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             10000 non-null  object
 1   gender                  10000 non-null  object
 2   age                     10000 non-null  int64
 3   country                 10000 non-null  object
 4   city                    10000 non-null  object
 5   customer_segment        10000 non-null  object
 6   tenure_months           10000 non-null  int64
 7   signup_channel          10000 non-null  object
 8   contract_type           10000 non-null  object
 9   monthly_logins          10000 non-null  int64
 10  weekly_active_days      10000 non-null  int64
 11  avg_session_time        10000 non-null  float64
 12  features_used           10000 non-null  int64
 13  usage_growth_rate       10000 non-null  float64
 14  last_login_days_ago     10000 non-null  int64
 15  monthly_fee             10000 non-null  int64
 16  total_revenue           10000 non-null  int64
 17  payment_method          10000 non-null  object
 18  payment_failures        10000 non-null  int64
 19  discount_applied        10000 non-null  object
 20  price_increase_last_3m  10000 non-null  object
 21  support_tickets         10000 non-null  int64
 22  avg_resolution_time     10000 non-null  float64
 23  complaint_type          10000 non-null  object
 24  csat_score              10000 non-null  float64
 25  escalations             10000 non-null  int64
 26  email_open_rate         10000 non-null  float64
 27  marketing_click_rate    10000 non-null  float64
 28  nps_score               10000 non-null  int64
 29  survey_response         10000 non-null  object
 30  referral_count          10000 non-null  int64
 31  churn                   10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

In [28]:
df_copy.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [29]:
df_copy.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [30]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             10000 non-null  object
 1   gender                  10000 non-null  object
 2   age                     10000 non-null  int64
 3   country                 10000 non-null  object
 4   city                    10000 non-null  object
 5   customer_segment        10000 non-null  object
 6   tenure_months           10000 non-null  int64
 7   signup_channel          10000 non-null  object
 8   contract_type           10000 non-null  object
 9   monthly_logins          10000 non-null  int64
 10  weekly_active_days      10000 non-null  int64
 11  avg_session_time        10000 non-null  float64
 12  features_used           10000 non-null  int64
 13  usage_growth_rate       10000 non-null  float64
 14  last_login_days_ago     10000 non-null  int64
 15  monthly_fee             10000 non-null  int64
 16  total_revenue           10000 non-null  int64
 17  payment_method          10000 non-null  object
 18  payment_failures        10000 non-null  int64
 19  discount_applied        10000 non-null  object
 20  price_increase_last_3m  10000 non-null  object
 21  support_tickets         10000 non-null  int64
 22  avg_resolution_time     10000 non-null  float64
 23  complaint_type          10000 non-null  object
 24  csat_score              10000 non-null  float64
 25  escalations             10000 non-null  int64
 26  email_open_rate         10000 non-null  float64
 27  marketing_click_rate    10000 non-null  float64
 28  nps_score               10000 non-null  int64
 29  survey_response         10000 non-null  object
 30  referral_count          10000 non-null  int64
 31  churn                   10000 non-null  int64
dtypes: float64(6), int64(14), object(12)
memory usage: 2.4+ MB

In [31]:
df_copy.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [32]:
df['complaint_type'] = df_copy['complaint_type']

In [33]:
df.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

Splitting the Training and Test Data

In [34]:
df_copy.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [35]:
df_copy=df

In [36]:
df_copy.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [37]:
df_copy.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [38]:
df_copy.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [39]:
df_new.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [40]:
df.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [41]:
df_copy['contract_type'].unique()

array(['Monthly', 'Yearly', 'Quarterly'], dtype=object)

In [42]:
df_copy.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [43]:
df_copy.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [44]:
df_copy['customer_segment'].unique()

array(['SME', 'Individual', 'Enterprise'], dtype=object)

In [45]:
df_copy

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CUST_09996,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,CUST_09997,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,...,40.092087,No Complaint,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,CUST_09998,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,CUST_09999,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,...,20.544921,No Complaint,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [46]:
df_copy.drop_duplicates()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CUST_09996,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,CUST_09997,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,...,40.092087,No Complaint,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,CUST_09998,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,CUST_09999,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,...,20.544921,No Complaint,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [47]:
df_copy.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [50]:
df_copy['customer_segment'].unique()

array(['SME', 'Individual', 'Enterprise'], dtype=object)

In [51]:
df_copy['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [52]:
df_copy['age'].unique()

array([68, 57, 24, 49, 65, 36, 23, 37, 44, 70, 60, 54, 22, 28, 32, 20, 40,
       26, 46, 34, 43, 38, 25, 74, 55, 59, 41, 52, 72, 31, 27, 29, 61, 63,
       51, 58, 48, 18, 56, 21, 30, 39, 35, 19, 53, 71, 67, 47, 73, 50, 45,
       69, 42, 64, 66, 33, 62])

In [53]:
df_copy['city'].unique()

array(['London', 'Sydney', 'New York', 'Dhaka', 'Delhi', 'Toronto',
       'Berlin'], dtype=object)

In [56]:
df_copy.corr()

ValueError: could not convert string to float: 'CUST_00001'

In [59]:
df_copy.drop('customer_id',axis=1,inplace=True)

In [60]:
df_copy

,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,weekly_active_days,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,7,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,5,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,Male,24,Germany,New York,SME,58,Web,Yearly,19,5,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,7,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,6,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,2,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,2,...,40.092087,No Complaint,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,6,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,0,...,20.544921,No Complaint,2.0,0,0.25,0.31,58,Neutral,1,1
9999,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,1,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [61]:
df_copy.columns

Index(['gender', 'age', 'country', 'city', 'customer_segment', 'tenure_months',
       'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [62]:
df_copy['city'].unique()

array(['London', 'Sydney', 'New York', 'Dhaka', 'Delhi', 'Toronto',
       'Berlin'], dtype=object)

In [66]:
df_copy[['city','country']].head()

       city     country
0    London  Bangladesh
1    Sydney      Canada
2  New York     Germany
3     Dhaka   Australia
4     Delhi  Bangladesh

In [67]:
geo_map = {
    'London': 'UK',
    'Sydney': 'Australia',
    'New York': 'USA',
    'Dhaka': 'Bangladesh',
    'Delhi': 'India',
    'Toronto': 'Canada',
    'Berlin': 'Germany'
}

In [68]:
df['country'] = df['city'].map(geo_map)

In [71]:
df_copy[['city','country']]

          city     country
0       London          UK
1       Sydney   Australia
2     New York         USA
3        Dhaka  Bangladesh
4        Delhi       India
...        ...         ...
9995    Sydney   Australia
9996   Toronto      Canada
9997    Sydney   Australia
9998     Delhi       India
9999    Berlin     Germany

[10000 rows x 2 columns]

In [74]:
df_copy.drop('country',axis=1,inplace=True)

In [75]:
df_copy.head()

,gender,age,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,weekly_active_days,avg_session_time,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,Male,68,London,SME,22,Web,Monthly,26,7,11.762372,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,Female,57,Sydney,Individual,9,Mobile,Monthly,7,5,26.846390,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,Male,24,New York,SME,58,Web,Yearly,19,5,23.380065,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,Male,49,Dhaka,Individual,19,Mobile,Yearly,34,7,24.243136,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,Male,65,Delhi,Individual,52,Web,Monthly,20,6,18.872323,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [76]:
df_copy.columns

Index(['gender', 'age', 'city', 'customer_segment', 'tenure_months',
       'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [77]:
df_copy['customer_segment'].unique()

array(['SME', 'Individual', 'Enterprise'], dtype=object)

In [79]:
df_copy['customer_segment'].head()

0           SME
1    Individual
2           SME
3    Individual
4    Individual
Name: customer_segment, dtype: object

In [80]:
df['customer_segment'].value_counts()

customer_segment
Individual    5984
SME           3029
Enterprise     987
Name: count, dtype: int64

In [82]:
from sklearn.model_selection import train_test_split

X = df_copy
y=df_copy['churn']

X_train, X_test, y_train, y_test = train_test_split(
    X,y,
    test_size=0.2,
    random_state=42,
    stratify=df_copy['customer_segment']
)

print(f"Enterprise count in Test Set: {X_test[X_test['customer_segment'] == 'Enterprise'].shape[0]}")

Enterprise count in Test Set: 197